
#clue-bar
    width 100%
    min-height 0
    margin-bottom 20px
    color white
    display flex
    flex-flow row nowrap
    align-items flex-start
    padding 15px
    line-height 20px

    #clue-bar-clue
        margin-left 20px
