
@import '../../../styles/colors'

#clue-directory
    flex-direction row
    height 565px
    width 400px

    .clue-column
        width 50%

        .clue-column-header
            text-align center
            padding-top 15px
            height 50px
            box-sizing border-box

        &:first-child
            border-right 1px solid grey

        .clue-list-wrapper
            height 100%
            overflow-y auto

        .clue-list
            margin 0
            padding 0

            .clue
                align-items center
                font-size 12px
                padding 5px 10px
                cursor pointer

                &:hover
                    background-color $md-grey-300

                .clue-content
                    display flex
                    justify-content flex-start
                    flex-flow row nowrap

                    .clue-list-text
                        margin-left 10px
