
#clue-directory
    flex-direction row
    height 565px

    .clue-column
        width 50%

        .clue-column-header
            text-align center
            padding-top 15px
            height 50px
            box-sizing border-box

        &:first-child
            border-right 1px solid grey
