
board-sizing(n)
    height n
    width n

board-dimensions(n)
    grid-template-rows repeat(n, 1fr)
    grid-template-columns repeat(n, 1fr)

    .board-row
        grid-column-start 1
        grid-column-end n + 1
        display grid
        grid-template-columns repeat(n, 1fr)

#board
    board-sizing 500px
    display grid
    board-dimensions 15

    &.sunday
        board-dimensions 21

    user-select none
    cursor default

    // Changes the board size when the window size is less than 900px
    +below(900px)
        &
            board-sizing 400px

    .board-row
        .board-cell
            font-size 18px
            border 1px solid black

            &:first-child
                border-left none

            &:last-child
                border-right none

        &:first-child
            .board-cell
                border-top 0

        &:last-child
            .board-cell
                border-bottom none

        div.cell-content
            display flex
            align-items center
            justify-content center
            height 100%
            position relative

            &.block
                background-color black

            .clue-number
                position absolute
                font-size 9px
                line-height 100%
                top 5%
                left 5%
